{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Log in/Sign up screen animation</title>
  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<style>
   body {
    background:
    url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616964605_2-p-fon-dlya-saita-2.jpg) no-repeat center center fixed;
    background-size: cover;
   }
  </style>
<body>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>