{% extends "index.html" %}
{% block links %}
<ul class"links">
        <li class="signin-active" ><a class="btn" >Вход</a></li>
        <li class="signup-inactive" ><a class="btn" href = "{% url 'registration' %}" >Регистрация </a></li>
      </ul>
{% endblock links %}
{% block login %}

<form class="form-signin" action="{% url 'user_login' %}" method="post" name="form">
{% csrf_token %}
          <label for=username>Имя пользователя</label>
          <input class="form-styling" type="text" name="username" placeholder=""/>
          <label for="password"> Пароль</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <input type="checkbox" id="checkbox"/>
          <label for="checkbox" ><span class="ui"></span>Запомнить меня (пока не работает)</label>
          <input class="btn-animate" type="submit" method="post" value="ВОЙТИ">
          <label>{{login_form.errors.username}}</label>
</form>
{% endblock login %}
{% block forgot %}
<div class="forgot">
        <a href="#">Forgot your password?</a>
      </div>
{% endblock forgot %}